<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista Productos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<main>
  <div class="container px-4 py-5">
    <h1 class="pb-2 border-bottom">Lista Productos</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/product/new'}">Nuevo Producto</a>

    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-primary" role="alert"></div>
    <div th:if="${msg1 != null}" th:text="${msg1}" class="alert alert-warning" role="alert"></div>
    <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-danger" role="alert"></div>


    <input id="searchInput" class="form-control mb-3" type="text" placeholder="Search"
             aria-label="Search">
    <div id="results"></div>
    <table class="table table-sm">
      <tr>
        <th>#</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr th:each="product, info : ${productList}">
        <td th:text="${info.index + 1}"></td>
        <td><img th:src="${product.foto}"></td>
        <td th:text="${product.nombre}"></td>
        <td th:text="${product.precio}"></td>
        <td th:text="${product.stock ? 'En stock':'Agotado'}"></td>
        <td><a class="btn btn-warning"
               th:href="@{'/product/edit?id=' + ${product.id}}">Editar</a>
        </td>
        <td><!--a class="btn btn-danger"
               th:href="@{|/product/delete?id=${product.id}|}">Borrar</a-->
          <button class="btn btn-danger" data-toggle="modal" th:data-target="'#exampleModalDelete' + ${info.index}"
          >Borrar</button>
          <!-- Modal -->
          <div class="modal fade" th:id="'exampleModalDelete' + ${info.index}" tabindex="-1" role="dialog" th:aria-labelledby="'exampleModalDelete'+ ${info.index}+'Label'" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" th:id="'exampleModalDelete'+ ${info.index}+'Label'">Advertencia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Está seguro de querer eliminar este producto?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <a type="button" class="btn btn-danger"
                     th:href="@{|/product/delete?id=${product.id}|}">Borrar</a>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button class="btn btn-success" data-toggle="modal" th:data-target="'#exampleModal' + ${info.index}">
            Ver +
          </button>
          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" th:id="'exampleModal' + ${info.index}" tabindex="-1" role="dialog"
               th:aria-labelledby="'exampleModal' + ${info.index} + 'Label'" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" th:id="'exampleModal' + ${info.index} + 'Label'" th:text="${product.nombre}">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img th:src="${product.foto}" >
                  <p th:text="${product.precio}"></p>
                  <p th:text="${product.stock ? 'En stock':'Agotado'}"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</main>
<script th:inline="javascript">
  var listaJava = /*[[${productListJSON}]]*/ '';
  console.log(listaJava);
  var lista = JSON.parse(listaJava);
  console.log(lista);

  var searchInput = document.getElementById("searchInput");
  var resultsDiv = document.getElementById("results");

  searchInput.addEventListener("keyup", function() {
    // Obtener el término de búsqueda
    var searchTerm = searchInput.value.toLowerCase();
    // Verificar si el término de búsqueda es vacío
    if (searchTerm === "") {
      resultsDiv.innerHTML = "";
      return;
    }else{
      // Filtrar los productos que coinciden con el término de búsqueda
      var filteredProducts = lista.filter(function(product) {
        return product.nombre.toLowerCase().includes(searchTerm);
    });}
    console.log(filteredProducts)

    // Tomar el primer producto del arreglo filtrado (si existe)
    var firstProduct = filteredProducts[0];

    // Mostrar el primer producto (si existe)
    if (firstProduct) {
      var productDiv = document.createElement("div");
      productDiv.innerHTML = "<h2>" + firstProduct.nombre + "</h2>" +
              "<p>Precio: " + firstProduct.precio + "</p>" +
              "<img src='" + firstProduct.foto  +"'>"+
              "<p>Stock: " + firstProduct.stock + "</p>"
      resultsDiv.innerHTML = "";
      resultsDiv.appendChild(productDiv);
    } else {
      resultsDiv.innerHTML = "No se encontraron resultados";
    }});

</script>

</body>
</html>